enabled: true
image:
  repository: itzg/minecraft-server
  tag: java21@sha256:e8099a3c00e4e1a947d13500bd88919c1fef52c5175e9235b32abc974a315572
  pullPolicy: IfNotPresent
filebrowser:
  image:
    repository: hurlenko/filebrowser
    tag: v2.51.0@sha256:4013a03f3249ee7792a278e06a384b1c43e955e24c32a28acd3329082f17cd82
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
    limits:
      memory: 50Mi
  username: "" # Set in pipeline
  password: "" # Set in pipeline
dashboard:
  enabled: false
spiget:
  enabled: false
curseforge:
  enabled: false
  apiKey: "" # Set in pipeline
debug: false
timezone: Europe/London
probes:
  enabled: false
metrics:
  enabled: false
serverProperties:
  difficulty: normal
  whitelist: Divided23
  ops: Divided23
  allowFlight: true
  viewDistance: 16
  simulationDistance: 10
rcon:
  password: "" # Set in pipeline
  broadcastToOps: true
ingress:
  host: "" # Set in pipeline