enabled: true
image:
  repository: itzg/minecraft-server
  tag: java21@sha256:a5e3779813f9e405db0a00c1b035321e3a5dca10d23f3a7d653aa985a28c5f03
  pullPolicy: IfNotPresent
filebrowser:
  image:
    repository: hurlenko/filebrowser
    tag: v2.53.1@sha256:c4de483cbb081c5439daaa1d9076748f900c3b7d06d0462546d2490fabb73ffb
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
    limits:
      memory: 50Mi
  username: "" # Set in pipeline
  password: "" # Set in pipeline
dashboard:
  enabled: false
spiget:
  enabled: false
curseforge:
  enabled: false
  apiKey: "" # Set in pipeline
debug: false
timezone: Europe/London
probes:
  enabled: false
metrics:
  enabled: false
serverProperties:
  difficulty: normal
  whitelist: Divided23
  ops: Divided23
  allowFlight: true
  viewDistance: 16
  simulationDistance: 10
rcon:
  password: "" # Set in pipeline
  broadcastToOps: true
ingress:
  host: "" # Set in pipeline