replicas: 0
image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0@sha256:b96ad7ed83889420d5f6df311065c28ae465ce1d23ea42179f56196eb6ac4d4e
initContainer:
  image: 
    repository: busybox
    tag: stable@sha256:355b3a1bf5609da364166913878a8508d4ba30572d02020a97028c75477e24ff
    pullPolicy: IfNotPresent
gluetun:
  image:
    repository: ghcr.io/qdm12/gluetun
    tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
    pullPolicy: IfNotPresent
rclone:
  image:
    repository: rclone/rclone
    tag: 1.72.0@sha256:0eb18825ac9732c21c11d654007170572bbd495352bb6dbb624f18e4f462c496
    pullPolicy: IfNotPresent
openvpn:
  user: ""
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi