replicas: 0
image:
  repository: ghcr.io/linuxserver/qbittorrent
  pullPolicy: IfNotPresent
  tag: version-4.6.0-r0@sha256:b96ad7ed83889420d5f6df311065c28ae465ce1d23ea42179f56196eb6ac4d4e
initContainer:
  image: 
    repository: busybox
    tag: stable@sha256:6b219909078e3fc93b81f83cb438bd7a5457984a01a478c76fe9777a8c67c39e
    pullPolicy: IfNotPresent
gluetun:
  image:
    repository: ghcr.io/qdm12/gluetun
    tag: v3.40.4@sha256:e10584de1f82d8999e5e6c3111901d9d56a2eed21151fb96af060f390bbdfba8
    pullPolicy: IfNotPresent
rclone:
  image:
    repository: rclone/rclone
    tag: 1.72.0@sha256:0eb18825ac9732c21c11d654007170572bbd495352bb6dbb624f18e4f462c496
    pullPolicy: IfNotPresent
openvpn:
  user: ""
resources:
  requests:
    cpu: 5m
    memory: 256Mi
  limits:
    memory: 256Mi