image:
  repository: teamspeaksystems/teamspeak6-server
  tag: v6.0.0-beta7@sha256:5a25f3aab48dacef1685ee6f0f3c9d78e71a3e7410be0adcf37603d566dda1aa
  pullPolicy: IfNotPresent
ports:
  filetransfer: 30033
  serverquery:
    ssh: 10022
    http: 10080
  voice: 9987
persistence:
  existingClaim: teamspeak
resources:
  requests:
    cpu: 20m
    memory: 32Mi
  limits:
    memory: 32Mi
