image:
  repository: adguard/adguardhome
  tag: v0.107.72@sha256:4956b35b590286e5872fb4336d84a7862a2030c6efb4ca16442580c37d7ba32d
  pullPolicy: IfNotPresent
cron: "*/5 * * * *"
runOnStart: false
continueOnError: false
origin:
  url: http://192.168.68.93:58745
  username: "" # Set in pipeline
  password: "" # Set in pipeline
replica:
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  autoSetup: true
syncapi:
  image:
    repository: ghcr.io/bakito/adguardhome-sync
    tag: v0.9.0@sha256:a4e63e705c5602b7bdd5a9554615a78125521273a7aa5da5831517780a06aee4
    pullPolicy: IfNotPresent
  metrics:
    enabled: true
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  darkMode: true
resources:
  adguardhome:
    requests:
      cpu: 30m
      memory: 512Mi
    limits:
      memory: 512Mi
  sync:
    requests:
      cpu: 20m
      memory: 512Mi
    limits:
      memory: 512Mi
