image:
  repository: adguard/adguardhome
  tag: v0.107.70@sha256:33e2240c466b2bb1d4fe9d65fd86178160bf6ee8835cf7b50ab3a7c5e39571fe
  pullPolicy: IfNotPresent
cron: "*/5 * * * *"
runOnStart: false
continueOnError: false
origin:
  url: http://192.168.68.93:58745
  username: "" # Set in pipeline
  password: "" # Set in pipeline
replica:
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  autoSetup: true
syncapi:
  image:
    repository: ghcr.io/bakito/adguardhome-sync
    tag: v0.8.2@sha256:0d8411bfaae9e1e368b9a5ca8f3df28e8f0a335e9975003cc47892c22524ca15
    pullPolicy: IfNotPresent
  metrics:
    enabled: true
  username: "" # Set in pipeline
  password: "" # Set in pipeline
  darkMode: true
resources:
  adguardhome:
    requests:
      cpu: 30m
      memory: 512Mi
    limits:
      memory: 512Mi
  sync:
    requests:
      cpu: 20m
      memory: 512Mi
    limits:
      memory: 512Mi
