image:
  repository: teamspeak
  tag: 3.13.7@sha256:093b6754e2f5417bd5766658394e4ebe9da5d96a7740e66015e158dcd02893ed
  pullPolicy: IfNotPresent
ports:
  filetransfer: 30035
  serverquery: 10013
  voice: 9989
persistence:
  existingClaim: teamspeak-old
resources:
  requests:
    cpu: 20m
    memory: 35Mi
  limits:
    memory: 35Mi
